<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login_Functional" parallel="tests"> 

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


  <test  name="TestonChrome">
  
  <parameter name="browserName" value ="chrome"></parameter>
  
    <classes>
      
      <class name="com.amazon.qa.test.AmazonHomePageTest"/>
      <class name="com.amazon.qa.test.AmazonLoginPageTest"/>
       <class name="com.amazon.qa.test.AmazonSearchResultPageTest"/>
    </classes>
    </test>
    
    
     <test  name="TestonFirefox">
  
  <parameter name="browserName" value ="FF"></parameter>
  
    <classes>
      
      <class name="com.amazon.qa.test.AmazonHomePageTest"/>
      <class name="com.amazon.qa.test.AmazonLoginPageTest"/>
       <class name="com.amazon.qa.test.AmazonSearchResultPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Login_Functional -->

